
.time-container{
    font-family: "Arial", Helvetica, sans-serif;
    padding: 30px;
    color: rgb(243, 226, 226);
    font-weight: bold;
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(50%, -50%);
    font-size: 15px;
    white-space: nowrap;
}
#date{
  font-size: 15px;
 padding-left: 10%;
}
